import {defineConfig} from 'vite'
import vue from '@vitejs/plugin-vue'
import legacy from '@vitejs/plugin-legacy';
import basicSsl from '@vitejs/plugin-basic-ssl'

// https://vitejs.dev/config/
export default defineConfig({
    plugins: [
        basicSsl(),
        vue(),
        legacy({
            targets: ['defaults', 'not IE 11']
        })
    ],
    /*resolve: {
        alias: {
            vue: 'vue/dist/vue.esm-bundler.js',
        },
    },*/
    server: {
        https: true,
        host: '0.0.0.0',
        port: 3000,
        strictPort: true,
        hmr: {
            protocol: 'wss',
        },
        watch: {
            ignored: [/bin/, /config/, /plugins/, /resources/, /tests/, /vendor/, /logs/, /tmp/],
            depth: 5,
        }
    },
    build: {
        emptyOutDir: true,
        outDir: './webroot/build',
        assetsDir: 'assets',
        manifest: true,
        rollupOptions: {
            input: [
                './webroot_src/js/main.js',
                './webroot_src/js/timetables.js',
                './webroot_src/scss/style.scss',
            ],
            output: {
                entryFileNames: '[name].[hash].min.js',
            }
        }
    },
});
