import {defineConfig} from 'vite'
import vue from '@vitejs/plugin-vue'
import legacy from '@vitejs/plugin-legacy';
import basicSsl from '@vitejs/plugin-basic-ssl'

// https://vitejs.dev/config/
export default defineConfig({
	root: '',
    publicDir: 'resources/assets',
    plugins: [
        basicSsl(),
        vue(),
        legacy({
            targets: ['defaults', 'not IE 11']
        })
    ],
    /*resolve: {
        alias: {
            vue: 'vue/dist/vue.esm-bundler.js',
        },
    },*/
    server: {
        https: true,
        host: '0.0.0.0',
        port: 3000,
        strictPort: true,
        hmr: {
            protocol: 'wss',
        },
        watch: {
            ignored: [/bin/, /config/, /plugins/, /tests/, /vendor/, /logs/, /tmp/],
            depth: 15,
        }
    },
    build: {
        emptyOutDir: true,
        outDir: './webroot/build',
        assetsDir: './assets',
        manifest: true,
        rollupOptions: {
            input: [
                './resources/js/main.js',
                './resources/js/timetables.js',
                './resources/scss/style.scss',
            ],
            output: {
                entryFileNames: '[name].[hash].min.js',
                manualChunks(id) {
					if (id.includes('node_modules')) {
						return id.toString().split('node_modules/')[1].split('/')[0].toString();
					}
				}
            }
        }
    },
});
